package ${package.Base}.feign.gateway;

import org.springframework.cloud.netflix.feign.FeignClient;

import ${package.Base}.common.interfaces.gateway.Api${entity};

/**
 * $!{table.comment} 
 *
 * @author ${author}
 */
@FeignClient(value = "roncoo-cloud-user-service")
public interface IApi${entity} extends Api${entity} {

}
