package ${package.Base}.feign.web;

import org.springframework.cloud.netflix.feign.FeignClient;

import ${package.Base}.common.interfaces.web.Boss${entity};

/**
 * $!{table.comment} 
 *
 * @author ${author}
 */
@FeignClient
public interface IBoss${entity} extends Boss${entity} {

}
