package ${package.Base}.service.controller.web;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RestController;

import ${package.Base}.common.interfaces.web.Web${entity};
import ${package.Base}.service.biz.web.Web${entity}Biz;
import ${superControllerClassPackage};

/**
 * $!{table.comment} 
 *
 * @author ${author}
 */
@RestController
public class Web${table.controllerName} extends ${superControllerClass} implements Web${entity}{

    @Autowired
    private Web${entity}Biz biz;
    
}
