package ${package.Base}.service.biz.web;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

import ${package.Dao}.${entity}Dao;

/**
 * $!{table.comment} 
 *
 * @author ${author}
 */
@Component
public class Web${entity}Biz {

	@Autowired
	private ${entity}Dao dao;

	
}
